body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #1e1812 !important;
}

.container {
    max-width: 1156px;
}
/* nav */
.navbar-brand {
    width: 20rem;
    height: 10rem;
    border-radius: 50%;
    font-family: 'Pacifico', cursive;
    font-size: 2.4rem;
    color: #F73D93 !important;
    text-shadow: 1px 1px 3px #ffffff;
    height: 4rem;
}

.links {
    background-color: #7F8487;
}

.nav-options {
    background-color: #1e1812 !important;
    color: #ffffff;
}

.nav-item-pink {
    border: 0.1rem solid #413F42;
    width: 10rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    background-color: #F73D93;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav-item:hover {
    background-color: #F2F2F2;
}

.letraNav {
    color: #ffff;
}

/* home */
.card-projects {
    text-align: center;
    align-items: center;
    padding-top: 1rem;
    margin-bottom: 1rem;
    height: 26rem;
}

.card-img-top-projects {
    width: 6rem;
    height: 6rem;
}

.card-body-projects {
    height: 10rem;
    margin-top: 3rem;
}
.card-text-projects {
    font-size: 1rem;
    width: 10rem;
    height: 6rem;
}

.card-codigoArk {
    font-size: 1rem;
    text-align: center;
}
.imgCodigoark {
    text-align: center !important;
    align-items: center !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.imgCodeArk {
    margin: 0 !important;
    width: 50% !important;
    height: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.slideButton {
    background-color: #7F8487;
}
.btnCodeArk {
    background-color: #F73D93 !important;
    padding:0.5rem;
    width: 12rem;
}

.btnCodeArkLarge {
    width: 100%;
}

.githubDir {
    background-color: #7F8487;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.githubLink {
    background-color: #7F8487;
    display: block;
    text-align: center;
}
/* aboutme */
.yo {
    display: flex;
    text-align: center;
    align-items: center;
}
.card-angeles {
    background-color: #E4E8ED;
}

.card-top {
    border-radius: 50% 50% 0 0;
    background-color: #ffff;
    margin: 1rem;
    margin-bottom: 0;
}

.card-bottom {
    border-radius: 0 0 50% 50%;
    background-color: #ffff;
    margin: 1rem;
    margin-top: 0;
}

.card-img-top-angeles {
    border-radius: 50%;
    padding: 1rem;
}

.card-logo {
    border: none;
    margin-top: 1rem;
    align-items: center;
}

.card-img-top-logo1 {
    margin-top: 1rem;
    width: 5rem;
    height: 3rem;
}

.card-img-top-logo2 {
    margin-top: 1rem;
    width: 4rem;
    height: 4rem;
}

.card-img-top-logo3 {
    margin-top: 1rem;
    width: 4rem;
    height: 3rem;
}

.card-img-top-logo4 {
    margin-top: 1rem;
    width: 4rem;
    height: 4rem;
}

.card-img-top-logo5 {
    margin-top: 1rem;
    width: 6rem;
    height: 4rem;
}

.card-img-top-logo6 {
    margin-top: 1rem;
    width: 5rem;
    height: 4rem;
}

.card-img-top-logo7 {
    margin-top: 1rem;
    width: 4rem;
    height: 3rem;
}

.card-img-top-logo8 {
    margin-top: 1rem;
    width: 3rem;
    height: 3rem;
}

.card-img-top-logo9 {
    margin-top: 1rem;
    width: 3rem;
    height: 3rem;
}

.card-img-top-logo10 {
    margin-top: 1rem;
    width: 6rem;
    height: 3rem;
}
.card-img-top-logo11 {
    margin-top: 1rem;
    width: 7rem;
    height: 5rem;
}

.card-img-top-logo12 {
    margin-top: 1rem;
    width: 5rem;
    height: 4rem;
}

.card-img-top-logo13 {
    margin-top: 1rem;
    width: 6rem;
    height: 4rem;
}

.proximamente {
    font-size: 0.6rem;
}

/* Interest */
.indiceInterest {
    position: fixed;
    top: 10;
}


.arrmeth {
    width: 40rem;

}

.imgCiclo {
    width: 38rem;
    height: 30rem;
}