<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 my-5 y3">
            <div class="card card-angeles" style="width: 18rem;">
                <div class="card-top">
                    <img src="../assets/img/foto.png" class="card-img-top card-img-top-angeles" alt="angeles">
                </div>
                <div class="card-bottom">
                    <div class="card-body text-center">
                        <p class="card-text">Soy desarrolladora web fullstack y me motiva enormente el FrontEnd.
                            Descubrí esta pasión hace 3
                            años y no he parado de aprender y mejorar. Mi objetivo es ser una gran senior.
                        <p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 my-5">

        </div>
    </div>
</div>