<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 my-5 y3">
            <div class="card card-angeles" style="width: 18rem;">
                <div class="card-top">
                    <img src="../assets/img/foto.png" class="card-img-top card-img-top-angeles" alt="angeles">
                </div>
                <div class="card-bottom">
                    <div class="card-body text-center">
                        <p class="card-text">Soy desarrolladora web fullstack y me motiva enormente el FrontEnd.
                            Descubrí esta pasión hace 3
                            años y no he parado de aprender y mejorar. Mi objetivo es ser una gran senior.
                        <p>
                    </div>
                </div>
            </div>
        </div>
        <!-- logos -->
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 my-5">
            <h5>Materias estudiadas:</h5>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2 logosDW">
                    <div class="card card-logo">
                        <img src="../../assets/img/html-css-js.png" class="card-img-top card-img-top-logo1" alt="logo Html">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2 logosDW">
                    <div class="card card-logo">
                        <img src="../../assets/img/github.png" class="card-img-top card-img-top-logo2" alt="logo Css">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2 logosDW">
                    <div class="card card-logo">
                        <img src="../../assets/img/express.png" class="card-img-top card-img-top-logo3" alt="logo javaScript">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2 logosDW">
                    <div class="card card-logo">
                        <img src="../../assets/img/jquery.png" class="card-img-top card-img-top-logo4" alt="logo Html">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2 logosDW">
                    <div class="card card-logo">
                        <img src="../../assets/img/sequelize.png" class="card-img-top card-img-top-logo5" alt="logo Css">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2 logosDW">
                    <div class="card card-logo">
                        <img src="../../assets/img/npm.png" class="card-img-top card-img-top-logo6" alt="logo javaScript">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2 logosDW">
                    <div class="card card-logo">
                        <img src="../../assets/img/figma.png" class="card-img-top card-img-top-logo7" alt="logo Html">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2 logosDW">
                    <div class="card card-logo">
                        <img src="../../assets/img/vuejs.png" class="card-img-top card-img-top-logo8" alt="logo Css">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2 logosDW">
                    <div class="card card-logo">
                        <img src="../../assets/img/sass.png" class="card-img-top card-img-top-logo9" alt="logo javaScript">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2 logosDW">
                    <div class="card card-logo">
                        <img src="../../assets/img/firebase.png" class="card-img-top card-img-top-logo10" alt="logo Html">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2 logosDW">
                    <div class="card card-logo">
                        <img src="../../assets/img/bootstrap.avif" class="card-img-top card-img-top-logo11" alt="logo Css">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2 logosDW">
                    <div class="card card-logo">
                        <img src="../../assets/img/postgres.jpg" class="card-img-top card-img-top-logo12" alt="logo javaScript">
                    </div>
                </div>
            </div>

                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2 logosDW">
                                <div class="card card-logo">
                                    <img src="../../assets/img/react.svg" class="card-img-top card-img-top-logo13" alt="logo javaScript">
                                    <p class="proximamente">Próximamente...</p>
                                </div>
                            </div>
                            <!--
                            <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2 logosDW">
                                <div class="card card-logo">
                                    <img src="" class="card-img-top card-img-top-logo7" alt="logo Html">
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2 logosDW">
                                <div class="card card-logo">
                                    <img src="" class="card-img-top card-img-top-logo8" alt="logo Css">
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2 logosDW">
                                <div class="card card-logo">
                                    <img src="" class="card-img-top card-img-top-logo9" alt="logo javaScript">
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2 logosDW">
                                <div class="card card-logo">
                                    <img src="" class="card-img-top card-img-top-logo10" alt="logo Html">
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2 logosDW">
                                <div class="card card-logo">
                                    <img src="" class="card-img-top card-img-top-logo11" alt="logo Css">
                                </div>
                            </div>
                            -->
                        </div>

            <!-- Certificados -->
            <div class="row">
                <div class="col-sm-12">
                    <img src="" alt="">
                </div>
                <div class="col-sm-12"></div>
                <div class="col-sm-12"></div>
            </div>

        </div>
    </div>
</div>