<ol>
    <li class="my-5">
        <p>Añadir un elemento al final del arreglo. Agregaremos el 6 al final.</p>
        <h4>PUSH</h4>
        <img src="../../assets/img/push.png" class="arrmeth">
    </li>
    <li class="my-5">
        <p>Añadir un elemento al inicio del arreglo. Agregaremos el 0 al inicio.</p>
        <h4>UNSHIFT</h4>
        <img src="../../assets/img/unshift.png" class="arrmeth">
    </li>
    <li class="my-5">
        <p>Eliminar un elemento al final del arreglo. Eliminaremos el 5.</p>
        <h4>POP</h4>
        <img src="../../assets/img/pop.png" class="arrmeth">
    </li>
    <li class="my-5">
        <p>Eliminar un elemento al inicio del arreglo. Eliminaremos el 1.</p>
        <h4>SHIFT</h4>
        <img src="../../assets/img/shift.png" class="arrmeth">
    </li>
    <li class="my-5">
        <p id="slice">Clonar o copiar un arreglo. <strong>Slice no modifica el array original, crea un nuevo
                array.</strong></p>
        <h4>SLICE</h4>
        <img src="../../assets/img/slice.png" class="arrmeth">
    </li>
    <li class="my-5">
        <p>Clonar o copiar los elementos del array desde el índice 2.</p>
        <h4>SLICE</h4>
        <img src="../../assets/img/slice3.png" class="arrmeth">
    </li>
    <li class="my-5">
        <p>Clonar o copiar los 2 últimos elementos de un arreglo.</p>
        <h4>SLICE</h4>
        <img src="../../assets/img/slice1.png" class="arrmeth">
    </li>
    <li class="my-5">
        <p>Clonar o copiar desde el elemento con índice 2 hasta el penúltimo.</p>
        <h4>SLICE</h4>
        <img src="../../assets/img/slice2.png" class="arrmeth">
    </li>
    <li class="my-5">
        <p>Unir dos o mas arreglos</p>
        <h4>CONCAT</h4>
        <img src="../../assets/img/concat.png" class="arrmeth">
    </li>
    <li class="my-5">
        <p>Crear un nuevo array con todos los elementos que cumplan una condición.</p>
        <h4>FILTER</h4>
        <img src="../../assets/img/filter.png" class="arrmeth">
    </li>
    <li class="my-5">
        <p>Devolver el <strong>primer elemento</strong> que cumplan una condición.</p>
        <h4>FIND</h4>
        <img src="../../assets/img/find.png" class="arrmeth">
    </li>
    <li class="my-5">
        <p>Ddeterminar si una array incluye un determinado elemento, devuelve true o false según corresponda.</p>
        <h4>INCLUDES</h4>
        <img src="../../assets/img/includes.png" class="arrmeth">
    </li>
    <li class="my-5">
        <p>Unir y devolver los elementos de un array en una cadena.</p>
        <h4>JOIN</h4>
        <img src="../../assets/img/join.png" class="arrmeth">
    </li>
    <li class="my-5">
        <p>Crear un nuevo array con los resultados de la llamada a la función indicada aplicados a cada uno de sus
            elementos.</p>
        <h4>MAP</h4>
        <img src="../../assets/img/map.png" class="arrmeth">
    </li>
    <li class="my-5">
        <p>Sumar todos los elementos de un array, devolviendo un único valor.
        </p>
        <h4>REDUCE</h4>
        <img src="../../assets/img/reduce.png" class="arrmeth">
    </li>
    <li class="my-5">
        <p>Invertir el orden de los elementos de un array.
        </p>
        <h4>REVERSE</h4>
        <img src="../../assets/img/reverse.png" class="arrmeth">
    </li>
    <li class="my-5">
        <p>Corrovar que al menos un elemento cumpla con la condición dada. Devuelve true o false.
        </p>
        <h4>SOME</h4>
        <img src="../../assets/img/some.png" class="arrmeth">
    </li>
    <li class="my-5">
        <p>Ordenar un array alfabeticamente o numericamente.
        </p>
        <h4>SORT</h4>
        <img src="../../assets/img/sort.png" class="arrmeth">
    </li>
    </li>
    <li class="my-5">
        <p>Eliminar y/o agregar elementos en un array.
        </p>
        <h4>SPLICE</h4>
        <img src="../../assets/img/splice.png" class="arrmeth">
    </li>
    </li>
</ol>