<div class="row my-3">
    <h2>Proyectos realizados</h2>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="card card-projects">
            <img src="../../assets/img/barbershop.png" class="card-img-top card-img-top-projects" alt="BarberShop ">
            <div class="card-body card-body-projects">
                <h5 class="card-title">Barber Shop</h5>
                <p class="card-text card-text-projects d-xs-none d-sm-none d-md-block">Barber Shop fue uno de mis primeros ejercicios donde practiqué Html y Css</p>
                <a href="https://angelescahill.github.io/barbershop" class="btn btn-primary btnCodeArk " target="_blank">Ver</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 my-1">
        <div class="card card-projects">
            <img src="../../assets/img/portfolio1Small.png" class="card-img-top card-img-top-projects" alt="Portafolio">
            <div class="card-body card-body-projects">
                <h5 class="card-title">Portafolio 2020</h5>
                <p class="card-text card-text-projects d-sm-none d-md-block">Este fué mi primer portafolio, usé Html Css Bootstrap.</p>
                <a href="https://desafioangelescahill.neocities.org" class="btn btn-primary btnCodeArk " target="_blank">Ver</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 my-1">
        <div class="card card-projects">
            <img src="../../assets/img/revistaOnline.png" class="card-img-top card-img-top-projects" alt="Revista Online">
            <div class="card-body card-body-projects">
                <h5 class="card-title">Revista Online</h5>
                <p class="card-text card-text-projects d-sm-none d-md-block">En este ejercicio usé Html, css y Sass</p>
                <a href="https://angelescahill.github.io/revistaonline/" class="btn btn-primary btnCodeArk " target="_blank">Ver</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 my-1">
        <div class="card card-projects">
            <img src="../../assets/img/digimonApí.png" class="card-img-top card-img-top-projects" alt="Revista Online">
            <div class="card-body card-body-projects">
                <h5 class="card-title">Digimon Api</h5>
                <p class="card-text card-text-projects d-sm-none d-md-block">Api Digimon con Fetch. Y manipulación del Dom con javascript y jquery</p>
                <a href="https://angelescahill.github.io/evaluacionFinalModulo2Digimon/" class="btn btn-primary btnCodeArk" target="_blank">Ver</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="d-sm-none d-md-block col-md-12 col-lg-12 col-xl-12">
        <div class="card card-codigoArk">
            <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active imgCodigoark" data-interval="3000">
                        <img src="../../assets/img/codigoArk.png" class="d-block w-60 imgCodeArk" alt="CodigoArk">
                    </div>
                    <div class="carousel-item imgCodigoark" data-interval="3000">
                        <img src="../../assets/img/codigoArk2.png" class="d-block w-60 imgCodeArk" alt="CodigoArk">
                    </div>
                    <div class="carousel-item imgCodigoark" data-interval="3000">
                        <img src="../../assets/img/codigoArk3.png" class="d-block w-60 imgCodeArk" alt="CodigoArk">
                    </div>
                </div>
                <button class="carousel-control-prev slideButton" type="button" data-target="#carouselExampleInterval" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </button>
                <button class="carousel-control-next slideButton" type="button" data-target="#carouselExampleInterval" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </button>
            </div>


            <div class="card-body">
                <h5 class="card-title">CodigoArk</h5>
                <p class="card-text">Proyecto propio, aún en proceso de mejora. Realizado con Vue. Quiero mejorarlo y hacerlo
                    mas interactivo, quizás desarrollar algún tipo de cotizador de construcción.</p>
                <a href="https://www.codigoark.cl" class="btn btn-primary btnCodeArk btnCodeArkLarge" target="_blank">Ver</a>
            </div>
        </div>
    </div>

</div>
<div class="row my-4">
    <div class="githubDir col-sm-12 p-1">
        <img src="../../assets/img/github.png" alt="github logo" class="card-img-top-logo2 githubDir">
    </div> 
    <div class="my-auto githubLink col-sm-12 py-3">
        <a href="https://github.com/AngelesCahill" class="btn btn-primary btnCodeArk p-2" target="_blank">Ir a mi Github</a>
    </div>
</div>