
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2">
        <h3>1.- Usando ciclo FOR</h3>
        <img src="../../assets/img/cicloFor.png" class="imgCiclo">
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5">
        <h3>2.- Usando ciclo WHILE</h3>
        <img src="../../assets/img/cicloWhile.png" class="imgCiclo">
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5">
        <h3>3.- Usando ciclo DO WHILE</h3>
        <img src="../../assets/img/cicloDoWhile.png" class="imgCiclo">
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5">
        <h3>4.- Usando ciclo FOREACH</h3>
        <img src="../../assets/img/cicloForEach.png" class="imgCiclo">
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5">
        <h3>5.- Usando ciclo MAP</h3>
        <img src="../../assets/img/cicloMap.png" class="imgCiclo">
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5">
        <h3>6.- Usando ciclo FILTER</h3>
        <img src="../../assets/img/cicloFilter.png" class="imgCiclo">
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5">
        <h3>7.- Usando ciclo FOR OF</h3>
        <img src="../../assets/img/cicloForOf.png" class="imgCiclo">
    </div>
</div>