<div class="row">
    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <ul class="indiceInterest mx-5">
            <li><a href="#arr&methods">Arrays y métodos</a></li>
            <li><a href="#iteracionArray">Como iterar un array</a></li>
            <li>Lorem dfkjalksdfj alkfjla</li>
            <li>Lorem dfkjalksdfj alkfjla</li>
            <li>Lorem dfkjalksdfj alkfjla</li>
            <li>Lorem dfkjalksdfj alkfjla</li>
            <li>Lorem dfkjalksdfj alkfjla</li>
            <li>Lorem dfkjalksdfj alkfjla</li>
            <li>Lorem dfkjalksdfj alkfjla</li>
            <button type="button" class="btn btn-primary btn-lg mt-5 btnCodeArk">Volver al inicio</button>
        </ul>
    </div>
    <div class="col-sm-12 col-md-9 col-lg-9 col-xl-9">
        <section class="m-2">
            <h2 id="arr&methods">Arrays y métodos</h2>
            {{>arraysandmethod}}
        </section>
        <section class="m-2">
            <h2 id="iteracionArray">Iterar o recorrer un array en JavaScript</h2>
            {{>itararArray}}
        </section>
        <section class="m-2"></section>
        <section class="m-2"></section>
    </div>
</div>