<ul class="nav justify-content-center links">
  <li class="nav-item">
    <a class="nav-link active letraNav" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link letraNav" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link letraNav" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link letraNav" href="#">CSS</a>
  </li>
</ul>